/*
* Design and Code: Paweł Waraksa
*/

/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

::selection {
  background: pink;
  color: white;
}

/*  SPACERS & OTHER ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-xsm {
    height: 100px;
}

.spacer-sm {
    height: 200px;
}

.spacer-med {
    height: 400px;
}

.spacer-lg {
    height: 600px;
}

.dash {
    color:white;
    background-color: white;
    width: 3%;
    height: 2px;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    border-width: 0;
}

.outlined {
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
    color: transparent;
}


/* MENU FULLSCREEN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #111111;
    overflow: hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    overflow: hidden;
    top: 20px;
    max-width: 75%;
    text-align: right;
    float: right;
    opacity: 0;
    transition: 0.9s;
    color: white;
}

@media (max-width: 1024px) {
.overlay-content {
    top: 40px;
}
}

.overlay a {
    margin-right: 100px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

@media (max-width: 1024px) {
.overlay a {
    margin-right: 40px;
}
}

.menu-element-lg {
    color: white;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 28px;
}

.menu-element-lg:hover {
    color: #ffffff;
}

.menu-element-sm {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #807e7e;
}

.menu-element-lg:hover {
    opacity: 0.7;
}

.menu-element-sm:hover {
    color: #ffffff;
}

/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
}

.logo {
    display: inline-block;
    margin: 52px 0px 0px 60px;
    font-weight: 600;
    color: white;
    position: relative;
    font-size: 14px;
}

.logo:hover {
    opacity: 0.7;
}

.menubtn {
    margin: 40px 60px 0px 0px;
    padding: 20px;
    background-color: transparent;
    border:none;
    background-image: url(../images/about/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 0;
    position: fixed;
}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

/* SECTION HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-section {
    background-image: url(../images/about/hero.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

@media (min-height: 768px) {
  .hero-title-all {
    padding-top: 48vh;
  }
}

.hero-title-all {
    padding-top: 36vh;
}

.hero-title h1 {
    color: white;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.3em;
    margin-top: 14px;
    margin-bottom: 14px;
}

.hero-title h2 {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hero-title h3 {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    padding-bottom: 140px;
    opacity: 0.4;
}

/* SECTION 0
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.zero-section-bg {
    background-color: #f4f4f4;
    height: 600px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-spacer-top {
  height: 100px;

}.footer-spacer-bottom {
  height: 140px;
}

.footer-bg {
    background-color: white;
    transition: 0.4s;
}

.footer-title h1 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.footer-title p {
    color: black;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
}

.footer-links ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 1;
}

.footer-links li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
}

.footer-social ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 0.3;
}

.footer-social li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
}

.footer a:hover {
  opacity: 0.4;
}
