/*
* Design and Code: Paweł Waraksa
*/

/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

::selection {
  background: pink;
  color: white;
}

/*  SPACERS & OTHER ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-xsm {
    height: 100px;
}

.spacer-sm {
    height: 200px;
}

.spacer-med {
    height: 400px;
}

.spacer-lg {
    height: 600px;
}

.dash {
    color:white;
    background-color: white;
    width: 3%;
    height: 2px;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    border-width: 0;
}

.outlined {
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
    color: transparent;
}


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu {
  float: right;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu a {
  color: #7e8082;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  float: right;
}

.menu a:hover {
  opacity: 0.4;
}

.menu li {
  padding-bottom: 14px;
}


.spacer-custom-header {
  height: 80px;
}

.header-title-small-left h2 {
    color: black;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header-title-small-left:hover h2 {
    color: black;
    opacity: 0.4;
    transition: 0.4s;
}

.header-title-small-right h2 {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

/* SECTION 0
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.spacer-custom-top {
  height: 40px;
}

.hero-title-small-left h2 {
    color: black;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hero-title-small-left:hover h2 {
    color: black;
    opacity: 0.4;
    transition: 0.4s;
}

.hero-title-small-right h2 {
    color: #75767a;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transition: 0.4s;
}

.post-title h1 {
  color: black;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.6em;
  opacity: 1;
}

.post-title h1:hover {
  opacity: 0.7;
}

.post-title h2 {
  color: dimgray;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.6em;
}

@media (max-width: 768px) {
  .post-title h2 {
    margin-bottom: 200px;
  }
}

.post-1-cover {
    height: 680px;
    margin-bottom: 28px;
    background-image: url(../images/blog/do-we-really-need.jpg);
    background-size: cover;
    background-position: center center;
}

.post-2-cover {
    height: 440px;
    margin-bottom: 28px;
    background-image: url(../images/blog/what-ive-learned.jpg);
    background-size: cover;
    background-position: center center;
}

/* RIBBON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ribbon {
  margin-top: 480px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-spacer-top {
  height: 100px;
}

.footer-spacer-bottom {
  height: 140px;
}

.footer-bg {
    background-color: #f4f4f4;
    transition: 0.4s;
}

.footer-links ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
}

.footer-links li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
    opacity: 1;
}

.footer-links li:hover {
    opacity: 0.4;
}

.footer-social ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 0.4;
}

.footer-social li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
}

.footer-social li:hover {
    opacity: 0.4;
}

.footer a {
  color: black;
  opacity: 1;
}
