/*
* Design and Code: Paweł Waraksa
*/

/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  color: white;
  background-color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

::selection {
  background: pink;
  color: white;
}

/*  SPACERS & OTHER ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-xsm {
    height: 100px;
}

.spacer-sm {
    height: 200px;
}

.spacer-med {
    height: 400px;
}

.spacer-lg {
    height: 600px;
}

.dash {
    color:white;
    background-color: white;
    width: 3%;
    height: 2px;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    border-width: 0;
}

.outlined {
    -webkit-text-stroke: 2px black;
    color: transparent;
}

@media (max-width: 768px) {
  .outlined {
      -webkit-text-stroke: 0px black;
      color: black;
  }
}

.outlined-white {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu {
  float: right;
}

.menu a {
  color: #7e8082;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  float: right;
}

@media (max-width: 1366px) {
  .menu {
    display: none;
  }
}

.menu a:hover {
  opacity: 0.4;
}

.menu li {
  padding-bottom: 14px;
}

.spacer-custom-header {
  height: 80px;
}

.header-title-small-left h2 {
    color: black;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header-title-small-left:hover h2 {
    color: black;
    opacity: 0.4;
    transition: 0.4s;
}

.header-title-small-right h2 {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* SECTION HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-section {
    background-color: #ffffff;
    height: 100%;
}

.hero-title h1 {
    color: black;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.1em;
    margin-top: 180px;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
  .hero-title h1 {
      color: black;
      font-size: 68px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 1.1em;
      margin-top: 180px;
      margin-bottom: 0px;
  }
}

.spacer-custom-hero {
    height:40px;
}

.hero-title h2 {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hero-bg {
    background-color: #f4f4f4;
    margin-top: 400px;
}

.hero-img {
    margin-top: -400px;
    height: 688px;
    background-image: url(../images/img01.png);
    background-size: cover;
    background-position: top left;
}

@media (max-width: 768px) {
  .hero-img {
      margin-top: -400px;
      height: 440px;
      background-image: url(../images/img01.png);
      background-size: cover;
      background-position: top left;
  }
}

.hero-img-text p {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hero-img-text a {
    text-decoration: underline;
}

.hero-img-text a:hover {
    text-decoration: none;
    opacity: 0.4;
}

/* SECTION 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-one-bg {
    background-color: #f4f4f4;
}

.header-one-title h1 {
    color: black;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
  .header-one-title h1 {
      color: black;
      font-size: 68px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 1.2em;
      margin-top: 0px;
      margin-bottom: 40px;
  }
}

.header-one-subtitle p {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.spacer-in-post {
    height: 280px;
}

.post-text {
    width: 360px;
    margin-left: 60px;
    margin-bottom: 60px;
}

.spacer-posts-custom {
    height: 100px;
}

.post-one {
    background-color: #607E79;
    transition: 0.4s;
}

.post-one:hover {
    background-color: #1F2026;
    transition: 0.4s;
}

.post-one h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 1.4em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 14px;
}

.post-one p {
    color: white;
    opacity: 0.4;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.post-two {
    background-color: #B0A48B;
    transition: 0.4s;
    margin-bottom: 400px;
}

.post-two:hover {
    background-color: #1F2026;
    transition: 0.4s;
}

.post-two h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 1.4em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 14px;
}

.post-two p {
    color: white;
    opacity: 0.4;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.post-three {
    margin-top: -300px;
    background-color: #B9A69D;
    transition: 0.4s;
}

.post-three:hover {
    background-color: #1F2026;
    transition: 0.4s;
}

.post-three h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 1.4em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 14px;
}

.post-three p {
    color: white;
    opacity: 0.4;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/* SECTION 2
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.features-title-bg {
    background-color: #ffffff;
}

.features-title h1 {
    color: black;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-top: 0px;
}

@media (max-width: 768px) {
  .features-title h1 {
      color: black;
      font-size: 68px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 1.2em;
      margin-top: 100px;
  }
}

.features-bg {
    background-color: #ffffff;
}

.feature h1 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-top: 0px;
    padding-top: 0px;
}

.feature p {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.feature ul {
    margin-top: 60px;
    list-style-type: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    padding-left: 0px;
}

.feature li {
    opacity: 0.4;
    color: black;
    font-size: 14px;
    padding-bottom: 18px;
    padding-left: 0px;
}

@media (max-width: 768px) {
  .hidder {
      display: none;
  }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-cover {
    background-image: url(../images/img02.jpeg);
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.footer {
    margin-top: -174px;
}

.footer h1 {
    color: black;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-top: 0px;
}

.footer h2 {
    color: black;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-top: -80px;
    margin-bottom: 40px;
    opacity: 0.05;
}

.footer-subtitle p {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer-subtitle a {
    text-decoration: underline;
}

.footer-subtitle a:hover {
    text-decoration: none;
    opacity: 0.4;
}

/* MOBILE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 768px) {
  .mobile-footer-bg {
      display: none;
  }
}

.mobile-footer-spacer-top {
  height: 100px;
}

.mobile-footer-spacer-bottom {
  height: 140px;
}

.mobile-footer-bg {
    background-color: #f4f4f4;
    transition: 0.4s;
}

.mobile-footer-links ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
}

.mobile-footer-links li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
    opacity: 1;
}

.mobile-footer-links li:hover {
    opacity: 0.4;
}

.mobile-footer-social ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 0.4;
}

.mobile-footer-social li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
}

.mobile-footer-social li:hover {
    opacity: 0.4;
}

.mobile-footer a {
  color: black;
  opacity: 1;
}
