/*
* Design and Code: Paweł Waraksa
*/

/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  color: white;
  background-color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

::selection {
  background: pink;
  color: white;
}

/*  SPACERS & OTHER ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-xsm {
    height: 100px;
}

.spacer-sm {
    height: 200px;
}

.spacer-med {
    height: 400px;
}

.spacer-lg {
    height: 600px;
}

.dash {
    color:white;
    background-color: white;
    width: 3%;
    height: 2px;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    border-width: 0;
}

.grey {
    color:dimgray;
}

/*  BUTTONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button-primary {
    background-color: #0a0a0a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0px solid #000000;
    height: 54px;
    width: 200px;
    transition: 0.4s;
}

.button-primary:hover {
    background-color: transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #000000;
    width: 244px
}

.button-secondary {
    background-color: #0a0a0a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0px solid #0a0a0a;
    height: 54px;
    width: 200px;
    transition: 0.4s;
}

.button-secondary:hover {
    background-color: transparent;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: #ffffff;
    width: 244px
}



/* MENU FULLSCREEN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #111111;
    overflow: hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    overflow: hidden;
    top: 20px;
    max-width: 75%;
    text-align: right;
    float: right;
    opacity: 0;
    transition: 0.9s;
    color: white;
}

@media (max-width: 1024px) {
.overlay-content {
    top: 40px;
}
}

.overlay a {
    margin-right: 100px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

@media (max-width: 1024px) {
.overlay a {
    margin-right: 40px;
}
}

.menu-element-lg {
    color: white;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 28px;
}

.menu-element-lg:hover {
    color: #ffffff;
}

.menu-element-sm {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #807e7e;
}

.menu-element-lg:hover {
    opacity: 0.7;
}

.menu-element-sm:hover {
    color: #ffffff;
}

/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
}

.logo {
    display: inline-block;
    margin: 52px 0px 0px 60px;
    font-weight: 600;
    color: white;
    position: relative;
    font-size: 14px;
}

.logo:hover {
    opacity: 0.7;
}

.menubtn {
    margin: 40px 60px 0px 0px;
    padding: 20px;
    background-color: transparent;
    border:none;
    background-image: url(../images/index/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 0;
    position: fixed;
}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

/* SECTION HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-section {
    background-color: #000000;
    height: 100%;
}

.hero-photo {
    height: 880px;
    background-image: url(../images/index/hero.jpg);
    background-size: cover;
    background-position: center center;
}

.hero-title-all {
    padding-top: 280px;
}

.hero-title-top h1 {
    color: white;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.3em;
    margin-top: 180px;
    margin-bottom: 68px;
    margin-left: -120px;
}

.hero-title-bottom h2 {
    color: white;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* SECTION 0
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pre-featured-bg {
    background-color: #f4f4f4;
}

.pre-featured-spacer {
    height: 200px;
}

.pre-featured-content p {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    opacity: 0.4;
    padding-top: 4px;
    margin: 0px;
}

@media (max-width: 920px) {
  .pre-featured-content p {
      display: none;
  }
  .pre-featured-spacer {
      height: 100px;
  }
}

.pre-featured-content h2 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.4em;
    color: black;
}

.section-zero-bg {
    background-image: url(../images/index/zero-section.jpg);
    background-size: cover;
    background-position: center center;
}

.section-zero {
    background-color: white;
    height: 0 auto;
}

.featured-post-title {
    padding-top: 54px;
    padding-bottom: 20px;
}

.featured-post-title h1 {
    color: black;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.4em;
}

.featured-post-title p {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    opacity: 0.4;
    margin-top: 36px;
}

.featured-post-title-line hr {
    border: 0.4px solid black;
    float: left;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 60px;
    margin-right: 200px;
    opacity: 0.1;
}

.featured-post h1 {
    color: black;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

.featured-post p {
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    opacity: 0.4;
}

.featured-post hr {
    border: 1px solid black;
    width: 40px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 200px;
}

/* SECTION 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section-one-bg {
    background-color: #f4f4f4;
}

.section-one-text h1 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-bottom: 0px;
}

.section-one-text p {
    color: black;
    margin-top: 14px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    padding-bottom: 28px;
}

.section-one-text a {
    color: black;
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
}

.section-one-text a:hover {
    opacity: 0.3;
}


.section-one-photo-a {
  background-image: url(../images/index/about-two.jpg);
  background-size: cover;
  background-position: center center;
  height: 380px;
}

.section-one-photo-b {
  background-image: url(../images/index/about-one.jpg);
  background-size: cover;
  background-position: center center;
  height: 680px;
}

.spacer-about {
    height: 60px;
}

.section-one h1 {
    color: black;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.4em;
}

.section-one p {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    opacity: 0.4;
    margin-top: 36px;
}

.features-title-bg {
    background-color: #000000;
}

.features-title h1 {
    color: white;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.4em;
}

.features-title p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    opacity: 0.4;
    margin-top: 36px;
}

.features-bg {
    background-color: #000000;
}

.feature h1 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.feature p {
    color: white;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
}

.feature ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 1;
}

.feature li {
    color: white;
    opacity: 0.4;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 18px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-spacer-top {
  height: 100px;

}.footer-spacer-bottom {
  height: 140px;
}

.footer-bg {
    background-color: white;
    transition: 0.4s;
}

.footer-title h1 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.footer-title p {
    color: black;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
}

.footer-links ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 1;
}

.footer-links li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
}

.footer-social ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
    opacity: 0.3;
}

.footer-social li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 2.1em;
    margin-bottom: 18px;
}

.footer a:hover {
  opacity: 0.4;
}
