/*
* Design and Code: Paweł Waraksa
*/


/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,html {
  color: #555555;
  font-weight: 400;
  line-height: 28px;    
}

/*  SPACERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-sm {
    height: 200px;
}

.spacer-lg {
    height: 400px;
}

.spacer-bg {
    height: 600px;
}

/* MENU FULLSCREEN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.overlay {   
    height: 0%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.6s;
}

.overlay-bg {   
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: -1; 
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 12%; 
    max-width: 75%;
    text-align: right;
    float:right;
    opacity: 0;
    transition: 0.8s;
    color: #000000;
}

@media (max-width: 1024px) {
.overlay-content {
    top: 6%; 
}
}

.overlay a {
    padding-right: 100px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

@media (max-width: 1024px) {
.overlay a {
    padding-right: 40px;
}
}

.menu-element-lg {
    color: #000000;
    font-size: 31px;
    font-weight: 700;
    padding-bottom: 36px;
}

.menu-element-lg:hover {
    color:dimgray;
}

.menu-element-sm {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 16px;
    color: #000000;
}

.menu-element-sm:hover {
    color:dimgray;
}

/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
    padding-left: 0px;
    padding-top: 0px;
}

.logo {
    display:inline-block;
    margin: 47px 0px 0px 60px;
    font-weight: 900;
    color: #000000;
}

.logo:hover {
    color: #555555;
}

.menubtn {
    margin: 40px 60px 0px 0px;
    padding: 20px;
    background-color: transparent;
    border:none;
    float: right;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 74px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.4em;
}

h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.3em;
}

h3 {
    
}

h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    line-height: 1.3em;
}

p {
    color: #aaaaaa;
    font-size: 16px;
    letter-spacing: 0.4px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* SECTION 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-title {
    padding-top: 40vh;  
}

.hero-title a {
    border-bottom: 5px solid black;
    padding-bottom: 3px;
    text-decoration: none;
    color: #000000;
}

.hero-title a:hover {
    color: #555555;
    border-bottom: 5px solid #555555;
}

.hero-description p {
    color: #555555;
    line-height: 2.1em;
    font-weight: 300;
}


.email-me {
    margin-top: 40px;
}

.email-me h4 { 
    margin-right: 40px;
    display: inline-block;
    color:#000000;
    text-decoration: none;
    border-bottom: 2px solid #000000;
}

.thumbnail-one-photo {
    height: 440px;
    background: url("../images/img_one.jpeg");
    background-size: cover;
    background-position: center left;
}

.thumbnail-one-text {
    margin-top: 28px;
}

.thumbnail-one-text p {
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    line-height: 2.0em;
    margin-bottom: 10px;
}

.thumbnail-one-text h4 {
    font-size: 21px;
    margin: 0px;
    line-height: 1.8em;
    letter-spacing: 0px;
}

.thumbnail-two-photo {
    height: 440px;
    background: url("../images/shot_02.png");
    background-size: cover;
    background-position: center left;
}

.thumbnail-two-text {
    margin-top: 28px;
}

.thumbnail-two-text p {
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    line-height: 2.0em;
    margin-bottom: 10px;
}

.thumbnail-two-text h4 {
    font-size: 21px;
    margin: 0px;
    line-height: 1.8em;
    letter-spacing: 0px;
}

.thumbnail-three-photo {
    height: 440px;
    background: url("../images/shot_02.png");
    background-size: cover;
    background-position: center left;
}

.thumbnail-three-text {
    margin-top: 28px;
}

.thumbnail-three-text p {
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    line-height: 2.0em;
    margin-bottom: 10px;
}

.thumbnail-three-text h4 {
    font-size: 21px;
    margin: 0px;
    line-height: 1.8em;
    letter-spacing: 0px;
}

/* SECTION 2
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section-two-bg {
    background-color: #ffffff;
}

.section-two p {
    padding-top: 14px;
    padding-bottom: 80px;
}

.features-bg {
    background-color:#ffffff;
}

.feature-one {
    padding-top: 40px;
    padding-bottom: 20px;
    height: 100%;
}

.feature-one h1 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding-top: 14px;
}

.feature-one p {
    color: #aaaaaa;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.feature-two {
    padding-top: 40px;
    padding-bottom: 180px;
    height: 100%;
}

.feature-two h1 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding-top: 14px;
}

.feature-two p {
    color: #aaaaaa;
    font-size: 16px;
    letter-spacing: 0.4px;
}
