/*
* Design and Code: Paweł Waraksa
*/


/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  color: #807e7e;
  background-color: #ffffff;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
  line-height: 28px;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #1e1a33;
  color: white;
}

/*  SPACERS & OTHER ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-xsm {
    height: 100px;
}

.spacer-sm {
    height: 200px;
}

.spacer-lg {
    height: 400px;
}

.spacer-bg {
    height: 600px;
}

.dash {
    color:white;
    background-color: white;
    width: 3%;
    height: 2px;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    border-width: 0;
}

/*  BUTTONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button-primary {
    background-color: #0a0a0a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0px solid #000000;
    height: 54px;
    width: 200px;
    transition: 0.4s;
}

.button-primary:hover {
    background-color: transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #000000;
    width: 244px
}

.button-secondary {
    background-color: #0a0a0a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0px solid #0a0a0a;
    height: 54px;
    width: 200px;
    transition: 0.4s;
}

.button-secondary:hover {
    background-color: transparent;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: #ffffff;
    width: 244px
}



/* MENU FULLSCREEN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.overlay {   
    height: 0%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: #0a0a0a;
    overflow: hidden;
    transition: 0.6s;
}

.overlay-content {
    position: relative;
    overflow: hidden;
    top: 12%; 
    max-width: 75%;
    text-align: right;
    float: right;
    opacity: 0;
    transition: 0.8s;
    color: white;
}

@media (max-width: 1024px) {
.overlay-content {
    top: 6%; 
}
}

.overlay a {
    margin-right: 100px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

@media (max-width: 1024px) {
.overlay a {
    margin-right: 40px;
}
}

.menu-element-lg {
    color: #807e7e;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 48px;
}

.menu-element-lg:hover {
    color: #ffffff; 
}

.menu-element-sm {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #807e7e;
}

.menu-element-sm:hover {
    color: #ffffff;
}

/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
}

.logo {
    display: inline-block;
    margin: 47px 0px 0px 60px;
    font-weight: 600;
    color: #ffffff;
}

.logo:hover {
    opacity: 0.7;
}

.menubtn {
    margin: 40px 60px 0px 0px;
    padding: 20px;
    background-color: transparent;
    border:none;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
}

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

/* SECTION 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo-white {
    margin-top: 44px;
    margin-left: 40px;
    height: 32px;
    width: 50px;
}

.hero-section {
    background-image: url("../images/hero-img.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.breadcrumb-one {
    margin-top: 248px;
    margin-bottom: 18px;
}

.breadcrumb-one p {
    font-size: 16px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.hero-title h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin: 0px;
    line-height: 68px;
}

.hero-title h2 {
    color: #ffffff;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 2em;
    margin-bottom: 140px;
}

.hero-title a {
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}

.hero-title a:hover {
    border-bottom: 2px solid white;
    color: white;
}

.pre-thumbnail h2 {
    margin-bottom: 40px;
}

.thumbnail-one-photo {
    height: 420px;
    background: url("../images/thumbnail-01.jpeg");
    background-size: cover;
    background-position: bottom left;
    transition: transform 0.4s;
}

.thumbnail-one-photo:hover {
    transform: scale(0.96);
    transition: 0.4s;
}

.thumbnail-one-text {
    padding-top: 24px;
    padding-bottom: 40px;
}

.thumbnail-one-text h4 {
    color: black;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding-top: 0px;
    margin-bottom: 8px;
}

.thumbnail-one-text p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

.thumbnail-two-photo {
    height: 420px;
    background: url("../images/thumbnail-02.png");
    background-size: cover;
    background-position: center left;
    transition: transform 0.4s;
}

.thumbnail-two-photo:hover {
    transform: scale(0.96);
}

.thumbnail-two-text {
    margin-top: 24px;
    padding-bottom: 40px;
}

.thumbnail-two-text h4 {
    color: black;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding-top: 0px;
    margin-bottom: 8px;
}

.thumbnail-two-text p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

.thumbnail-three-photo {
    height: 420px;
    background: url("../images/thumbnail-02.png");
    background-size: cover;
    background-position: center left;
    transition: transform 0.4s;
}

.thumbnail-three-photo:hover {
    transform: scale(0.96);
}

.thumbnail-three-text {
    margin-top: 24px;
    padding-bottom: 40px;
}

.thumbnail-three-text h4 {
    color: black;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding-top: 0px;
    margin-bottom: 8px;
}

.thumbnail-three-text p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

.thumbnail-four-photo {
    height: 420px;
    background: url("../images/thumbnail-02.png");
    background-size: cover;
    background-position: center left;
    transition: transform 0.4s;
}

.thumbnail-four-photo:hover {
    transform: scale(0.96);
}

.thumbnail-four-text {
    margin-top: 24px;
    padding-bottom: 40px;
}

.thumbnail-four-text h4 {
    color: black;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding-top: 0px;
    margin-bottom: 8px;
}

.thumbnail-four-text p {
    font-size: 16px;
    color: #807e7e;
    line-height: 2.1em;
    font-weight: 400;
}

/* SECTION 2
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section-two-bg {
    background-color: #0a0a0a;
}

.breadcrumb-two {
    margin-bottom: 32px;
}

.breadcrumb-two p {
    font-size: 16px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.section-two h1 {
    margin: 0px;
    color: white;
}

.section-two p {
    padding-top: 24px;
    color: white;
    line-height: 2.1em;
    font-weight: 400;
}

.features {
    background-color: #0a0a0a;
}

.feature h1 {
    color: white;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding-top: 16px;
    margin-bottom: 8px;
}

.feature p {
    margin-top: 0px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.feature ul {
    padding-top: 40px;
    padding-left: 0px;
    list-style-type: none;
}

.feature li {
    font-size: 16p;
    font-weight: 400;
    padding-bottom: 18px;
}

/* SECTION 3
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section-three {
    padding-top: 200px;
    padding-bottom: 240px;
    background: url("../images/section_three_img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.section-three h1 {
    color: white;
    margin: 0px;
    padding-bottom: 1px;
}

.section-three p {
    color: #ffffff;
    opacity: 0.8;
    padding-bottom: 40px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-copyright {
    margin-top: 14px;
    font-weight: 500;
    color: #000000;
}

.footer-copyright p {
    font-size: 12px;
    color: dimgray;
}

@media (max-width: 600px) {
.footer-copyright {
    margin-top: 14px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #000000;
}
}

.footer-title h1 {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0px;
    color: black;
    line-height: 2.1em;
    padding-bottom: 32px;
}

.footer-button {
    background-color: #0a0a0a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 0px solid #000000;
    height: 54px;
    width: 200px;
    transition: 0.4s;
}

.footer-button:hover {
    background-color: transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #000000;
    width: 244px
}

.footer-links h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 2.1em;
    padding-right: 88px;
    display: inline-block;
}

.footer-links a {
    color: #c1c1c1;
    transition: 0.4s;
}

.footer-links a:hover {
    color: black;
}

@media (max-width: 1400px) {
.footer-links h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 2.1em;
    display: inline-block;
    padding-right: 50px;
}
}

@media (max-width: 940px) {
.footer-links h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 2.1em;
    display: block;
    padding-bottom: 28px;
}
}
