/*
* Design and Code: Paweł Waraksa
*/

/*  BODY SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  color: white;
  background-color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

::selection {
  background: pink;
  color: white;
}

/*  SPACERS & OTHER ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-xsm {
    height: 100px;
}

.spacer-sm {
    height: 200px;
}

.spacer-med {
    height: 400px;
}

.spacer-lg {
    height: 600px;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu {
  float: right;
}

@media (max-width: 1366px) {
  .menu {
    display: none;
  }
}

.menu a {
  color: #7e8082;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  float: right;
}

.menu a:hover {
  opacity: 0.4;
}

.menu li {
  padding-bottom: 14px;
}

.spacer-custom-header {
  height: 80px;
}

.header-title-small-left h2 {
    color: black;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header-title-small-left:hover h2 {
    color: black;
    opacity: 0.4;
    transition: 0.4s;
}

.header-title-small-right h2 {
    color: black;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-top: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    color: #000000;
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h2 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
}

h3 {
    color: #000000;
    font-size: 21px;
    font-weight: 600;
    margin: 0px;
    letter-spacing: 0.4px;
    line-height: 1.6em;
    padding-bottom: 14px;
}

p {
    font-size: 18px;
    color: black;
    line-height: 2.1em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

/* SECTION HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-section {
    background-color: white;
    height: 100%;
}

@media (min-height: 768px) {
  .hero-title-all {
    padding-top: 38vh;
  }
}

.hero-title-all {
    padding-top: 26vh;
}

.hero-title h1 {
    color: black;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    margin-top: 14px;
    margin-bottom: 24px;
}

.hero-title h2 {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.8em;
    padding-bottom: 180px;
    opacity: 0.4;
}

/* CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cover-photo {
  background-image: url(../images/blog/what-ive-learned/cover.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 680px;
}

.introduction {
  font-size: 24px;
  color: black;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0.4px;
}

.quote {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.6em;
  color: black;
  letter-spacing: 0.4px;
}

.photo-caption {
  margin-top: 28px;
}

.caption {
  font-size: 14px;
  color: #807e7e;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 30px;
}

.photo-one {
  background-image: url(../images/blog/what-ive-learned/one.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 800px;
}

.photo-two {
  background-image: url(../images/blog/what-ive-learned/two.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 600px;
}

/* RIBBON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ribbon {
  margin-top: 480px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-bg {
    background-color: #f4f4f4;
    transition: 0.4s;
}

.footer-spacer-top {
  height: 140px;

}

.footer-spacer-bottom {
  height: 160px;
}

.footer p {
    color: #807e7e;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.8em;
    margin-bottom: 28px;
}

.footer h1 {
    color: black;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-top: 28px;
}

.footer h1:hover {
    opacity: 0.7;
}
